body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #ffffff;
    background-color: #121212;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo h2 {
    font-size: 24px;
    color: #e50914;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

nav ul li a:hover,
nav ul li.active a {
    color: #e50914;
}

.seasons {
    padding-top: 80px; /* Adjusted padding-top to avoid overlap with fixed header */
}

.seasons .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.seasons .season {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    padding: 40px 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.seasons .season h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.seasons .season p {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.seasons .season .season-img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.watch-btn {
    padding: 10px 20px;
    background-color: #e50914;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
}

.watch-btn:hover {
    background-color: #bf0810;
}
